/* 2d_transform.css */

#html5,
#css3,
#car {
  transition: transform 0.5s;
}

#html5:hover {
  transform: rotate(45deg);
}

#css3:hover {
  transform: scale(2);
}

.move-right {
  transform: translateX(900px);
}
