img{
    width: 100%;
}

figure{
    margin-bottom: 1.2rem;
}

#masonry{
    columns: 425px;
    padding-bottom: 200px;
}

figcaption{
    width: 100%;
    color: rgb(240 240 240 / 0.9);
    background-color: rgb(32 32 32 /.75);
    position: relative;
    bottom: 1.54rem;
}